body {
    background-color: #fffce5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 #main
{
float: right;
}
content {
padding: 10px;
}

#nav{
    float: left;
    width:60px;
    height:1000px;
    padding: 10px;
}

#left{

    width: 450px;
    float: left;
    padding: 10px;
    font: italic;
}
#right {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 850px;
    float: right;
    padding: 10px;
    font:600;
}
#footer {
    clear: both;
    height: 10px;
    text-align: center;
}
#header {
    height: 950px;
    
    float: none;
   text-align: center;
}