	#header2
	{
		background-color: #d6633c;
		color: white;
	}

	#content
	{
		text-align: center;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	#score
	{
			background-color: #fee3a9;
	}

	#Pic1
	{
		padding: 10px;
		width: 120;
		float: left;
	}

	#Pic2
	{
		padding: 10px;
		width: 200;
		float: right;
	}

	#Pic3
	{
		padding: 10px;
		width: 120;
		float: left;
		clear: left;
	}


	#Pic4
	{
		padding: 5px;
		width: 120px;
		float: left;
	}

	#Pic5
	{		
		padding: 5px;
		width: 120px;
		float: right;
	}

	#score
	{
		clear: both;
	}
