body {
    padding: 20px;
    background-color: #fff;
}
container{
    margin-left = auto;
    margin-right=auto;
}
container3 {
    margin-left = auto;
    margin-right =auto;
}
container4 {
    margin-left = auto;
    margin-right =auto;
}
container5 {
    margin-left = auto;
    margin-right =auto;
}
image{
    width=auto;
    length=auto;
}
container2{
    width=10px;
}
p.CharOverride {
    color: #7bb9fc;
}
h2 {
    color: #3f8ee2;
}